td {
    width: 10em;
    height: 2em;
    cursor: pointer;
}
table,
td,
tr {
    border: 2px solid black;
    text-align: center;
}
thead,
tbody{
    width: 80%;
}
table {
    box-shadow: 0 0 20px rgb(0, 0, 0);
}
body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
section.btn {
    width: 15%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

section.btn button {
    width: 50%;
    height: 50%;
    box-shadow: 0 0 20px black;
}
h1 {
    width: 100%;
    text-align: center;
}
tr:nth-child(n):hover {
    background-color: rgb(226, 43, 165);
}
tr:nth-child(odd) {
    background-color: rgb(126, 223, 87);
}
.oculto {
    display: none;
}